/* Custom styles for Ant Design Carousel arrows */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  font-size: 24px;
  color: #000 !important;
  z-index: 1;
}

.ant-carousel .slick-prev {
  left: 10px;
}

.ant-carousel .slick-next {
  right: 10px;
}
